/* === Authentication Button === */
#authBtn {
    color: var(--gray-100);
    background-color: var(--green-300);
    border: none;

    &:hover {
        background-color: var(--green-400);
    }
}

/* === Header (title, nav & logout) & Main & Footer (copyright message) === */
header, footer {
    background-color: var(--green-300);
    box-shadow: var(--shadow);
}

header span {
    font-weight: bold;
}

main {
    margin: 2rem 1rem;
}

footer {
    width: 100%;
    padding: 0.25rem 0;
    position: fixed;
    bottom: 0;
}

/* === Map & List === */
#ml .col-md-3 {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

/* === Map === */
#map {
    height: 100%;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

/* === Camera List === */
#search {
    color: var(--gray-500);
    background-color: var(--green-200);

    &:focus {
        border: none;
        box-shadow: none;
    }
}

#cameraList {
    .list-group-item {
        margin-bottom: 0.2rem;
        color: var(--gray-500);
        background-color: var(--green-100);
        border-top: 0.1rem solid var(--green-200);

        &:hover {
            background-color: var(--green-200);
        }

        &.gold {
            border-top: 0.1rem solid var(--accent-gold);
        }

        button {
            padding: 0 0.5rem;
            background-color: var(--green-200);
            border-radius: var(--radius);
        }

        button.bookmarked {
            background-color: var(--accent-gold);
        }
    }
}

#cameraListContainer {
    height: 100%;
    overflow-y: auto;
    border-radius: var(--radius);
    box-shadow: var(--shadow);

    &::-webkit-scrollbar {
        width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        background: var(--green-300);
        border-radius: var(--radius);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--green-400);
        border-radius: var(--radius);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--green-400);
    }
}
