/* === Authentication Button === */
#authBtn {
    color: var(--gray-100);
    background-color: var(--green-300);
    border: none;

    &:hover {
        background-color: var(--green-400);
    }
}

/* === Map === */
#map {
    height: 80vh;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}
